.character-card {
  position: relative;
  display: grid;
  padding: 12px;
  justify-content: center;
  margin-top: 16px;
  width: 230px;
  height: 350px;
  transform: rotate3d(1, 1, 1, -5deg);
  background-color: #e3e3e3;
  border-radius: 8px;
  box-shadow: 2px 5px 2px 3px rgb(0 0 0 / 28%);
  overflow: hidden;
  &__image-content {
    margin-top: 5px;
    width: 180px;
    height: 280px;
    background-color: black;
    transform: rotate3d(1, 1, 1, 10deg);
    border-radius: 8px;
    object-fit: cover;
  }
  &__details {
    position: absolute;
    padding: 8px;
    background-color: #ffffffa2;
    backdrop-filter: blur(2px);
    top: 0;
    left: 100%;
    width: 230px;
    height: 350px;
    transition: all .6s;
    text-shadow: 0px 0px #000;
    overflow-y: auto;
  }
  &:hover {
    cursor: pointer;
    transform: rotate3d(1, 1, 1, 0deg) scale(1.1);

    .character-card__image-content {
      transform: rotate3d(1, 1, 1, 0deg);
    }

    .character-card__details {
      left: 0;
    }

  }
}
